h1{
    font-size: 60px;
}


.orrange-colour{
    color: orangered;
}
.Poppins-font{
    font-family: 'Poppins', sans-serif;
}

.flaxible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;

}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-color: orangered ;
    padding: 20px 50px;
    font-weight: 700;
    color: white;
}

.second-hadding{
    text-align: center;

}
.mission-gooals{
    border: white;


}

.my-mission{
    text-align: center;

}
.my-mission img{
    width: 20px 20px;
}
